body {
  height: 100vh;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: url('images/dark_leather.png');

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background: url('images/dark_leather_@2X.png');
  }
}

.winner {
  box-sizing: border-box;
  background: url('images/groovepaper.png');
  padding: 50px;
  animation: displayWinner .8s;
  animation-fill-mode: forwards;
  opacity: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  width: 30vw;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  color: rgba(0, 0, 0, 0.8);
  border-radius:5px;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background: url('images/groovepaper_@2X.png');
  }

  &:after {
    display: block;
    content: '/* @echo WINNER */';
    font-size: 5vw;
    transform: translateZ(0) scale(1.0, 1.0);
  }
}

@keyframes displayWinner {
  0% {
    opacity: 0;
    transform: scale3d(1, 1, 1), rotate3d(0, 0, 1, -180deg);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -360deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 180deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -360deg);
  }

  100% {
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, #{random(30)}deg);
    opacity: 1;
  }
}
