.DS_store
.idea/
bauro-haproxy/.vagrant
names

# borkdude-clojure
.nrepl-history
.nrepl-port
/borkdude-clojure/target

# borkdude-cljs-node-lumo
/borkdude-cljs-node-lumo/node_modules

# Used while testing
/.names-test/

