ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.jSlots-wrapper {
    overflow: hidden;
    height: 20px;
    display: inline-block; /* to size correctly, can use float too, or width*/
    border: 1px solid #999;
}

.slot {
    float: left;
}

.hidden {
    visibility: hidden;
}


/* ---------------------------------------------------------------------
   FANCY EXAMPLE
--------------------------------------------------------------------- */
.fancy .jSlots-wrapper {
    overflow: hidden;
    height: 100px;
    display: inline-block; /* to size correctly, can use float too, or width*/
    border: 1px solid #999;
}

.fancy .slot li {
    width: 1000px;
    line-height: 100px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    font-family: 'Gravitas One', serif;
    border-left: 1px solid #999;
}

.fancy .slot:first-child li {
    border-left: none;
}

.fancy .slot li span {
    display: block;
}

/* ---------------------------------------------------------------------
   ANIMATIONS
--------------------------------------------------------------------- */

@-webkit-keyframes winner {
    0%, 50%, 100% {
        -webkit-transform: rotate(0deg);
        font-size:70px;
        color: #fff;
    }
    25% {
        -webkit-transform: rotate(1deg);
        font-size:90px;
        color: #FF16D8;
    }
    75% {
        -webkit-transform: rotate(-1deg);
        font-size:90px;
        color: #FF16D8;
    }
}
@-moz-keyframes winner {
    0%, 50%, 100% {
        -moz-transform: rotate(0deg);
        font-size:70px;
        color: #fff;
    }
    25% {
        -moz-transform: rotate(1deg);
        font-size:90px;
        color: #FF16D8;
    }
    75% {
        -moz-transform: rotate(-1deg);
        font-size:90px;
        color: #FF16D8;
    }
}
@-ms-keyframes winner {
    0%, 50%, 100% {
        -ms-transform: rotate(0deg);
        font-size:70px;
        color: #fff;
    }
    25% {
        -ms-transform: rotate(1deg);
        font-size:90px;
        color: #FF16D8;
    }
    75% {
        -ms-transform: rotate(-1deg);
        font-size:90px;
        color: #FF16D8;
    }
}


@-webkit-keyframes winnerBox {
    0%, 50%, 100% {
        box-shadow: inset 0 0  0px yellow;
        background-color: #FF0000;
    }
    25%, 75% {
        box-shadow: inset 0 0 30px yellow;
        background-color: aqua;
    }
}
@-moz-keyframes winnerBox {
    0%, 50%, 100% {
        box-shadow: inset 0 0  0px yellow;
        background-color: #FF0000;
    }
    25%, 75% {
        box-shadow: inset 0 0 30px yellow;
        background-color: aqua;
    }
}
@-ms-keyframes winnerBox {
    0%, 50%, 100% {
        box-shadow: inset 0 0  0px yellow;
        background-color: #FF0000;
    }
    25%, 75% {
        box-shadow: inset 0 0 30px yellow;
        background-color: aqua;
    }
}



.winner li {
    -webkit-animation: winnerBox 2s infinite linear;
    -moz-animation: winnerBox 2s infinite linear;
    -ms-animation: winnerBox 2s infinite linear;
}
.winner li span {
    -webkit-animation: winner 2s infinite linear;
    -moz-animation: winner 2s infinite linear;
    -ms-animation: winner 2s infinite linear;
}