<VirtualHost *:{{ item.0 + 81 }}>
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/raffler{{ item.0 + 1}}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>